- name: Load secret variables into the global namespace
  community.sops.load_vars:
    file: "{{ lookup('ansible.builtin.env', 'SECRETS_DIR', default='../secrets') }}/secrets.sops.yaml"

- name: Wait 600 seconds for target connections to become reachable/usable
  ansible.builtin.wait_for_connection:

- name: Wait for cloud-init / user-data to finish
  become: true
  become_user: root
  ansible.builtin.shell:
    cmd: "/usr/bin/cloud-init status --wait"
  changed_when: false

- name: Set permissions on the private key
  become: true
  become_user: root
  ignore_errors: true
  ansible.builtin.shell:
    cmd: "chmod 600 /home/ec2-user/.ssh/id_rsa"

- name: Set a hostname specifying strategy
  become: true
  become_user: root
  ansible.builtin.hostname:
    name: "{{ cluster_hostname }}"
    use: systemd
  notify: Do reboot if needed

- name: RedHat execution block
  when: ansible_os_family == "RedHat"
  become: true
  become_user: root
  block:
    - name: Upgrade all packages
      ansible.builtin.dnf:
        name: "*"
        state: latest

    - name: Check if reboot is required
      ansible.builtin.shell:
        cmd: "needs-restarting -r -s"
      register: needs_restarting
      changed_when: needs_restarting.rc == 1
      failed_when: false
      notify: Do reboot if needed

- name: Wait 600 seconds for target connections to become reachable/usable
  ansible.builtin.wait_for_connection:
