---
- name: Configure prerequisites for Ansible Application Platform
  hosts: all
  gather_facts: true
  tags: nodes_prerequisites
  roles:
    - common

- name: Install Ansible Application Platform
  hosts: installer
  gather_facts: true
  tags: aap25_install
  tasks:

    - name: Install collections
      ansible.builtin.shell:
        chdir: "/home/ec2-user/install/"
        cmd: "ansible-galaxy install -r requirements.yaml"
      changed_when: false

    - name: Install AAP
      ansible.builtin.shell:
        chdir: "/home/ec2-user/install/"
        cmd: "ansible-playbook -i inventory main.yaml"
      changed_when: false

