---
- name: Download and install AAP from the bastion
  hosts: installer
  gather_facts: false
  become: false
  tags: aap_installation
  vars_files:
    - inventory_vars/variables.yaml
  roles:
    - { role: infra.aap_utilities.aap_setup_download }
    - { role: infra.aap_utilities.aap_setup_prepare }
